<div *ngIf="limit" id="limitExceed" class="errMessage text-white bg-danger float-end" role="alert" aria-live="assertive"
    aria-atomic="true">
    <div class="d-flex justify-content-between w-100">
        <div class="toast-body text-center">
            You have this item in your bag with the maximum available quantity.
        </div>
        <button type="button" class="btn btn-close" aria-label="Close" (click)="limit=false"
            style="background: none!important;margin-bottom: 4px!important;margin-left: 5px!important;">
            <i class="bi bi-x-lg"></i>
        </button>
    </div>
</div>

<div class="main-row">
    <h1 class="page-title">TeeRex Fashion</h1>

    <div class="row justify-content-center mb-3">
        <div class="col-12 col-md-6 d-flex">
            <div class="form w-75 me-2">
                <input type="search" class="search form-control form-input" placeholder="Search anything..."
                    [(ngModel)]="searchText" (search)="clearSearch()">
            </div>
            <button class="btn btn-sm btn-search me-2" (click)="Search()">
                <i class="bi bi-search"></i>
            </button>
            <button class="btn btn-sm btn-filter d-block d-sm-none" data-bs-toggle="collapse" data-bs-target="#filter"
                aria-expanded="false" aria-controls="filter">
                <i class="bi bi-funnel"></i>
            </button>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-sm-3 d-sm-block collapse" id="filter">
            <h3 class="section-title">Filters</h3>

            <section>
                <h4 class="sub-section-title">Color</h4>
                <div class="d-flex" *ngFor="let color of colorFilter" style="padding:5px 0">
                    <input class="checkbox-input me-3" type="checkbox" name={{color}} value={{color}}
                        (change)="addFilters($event,'color',color)" />
                    <div class="d-flex">
                        <div class="color me-2" [ngStyle]="{'background-color': color}"></div>
                        <label>{{color}}</label>
                    </div>
                </div>
            </section>

            <section>
                <h4 class="sub-section-title">Gender</h4>
                <div class="d-flex" *ngFor="let gender of genderFilter" style="padding:5px 0">
                    <input class="checkbox-input me-3" type="checkbox" name={{gender}} value={{gender}}
                        (change)="addFilters($event,'gender',gender)" />
                    <div class="d-flex">
                        <label>{{gender}}</label>
                    </div>
                </div>
            </section>

            <section>
                <h4 class="sub-section-title">Price</h4>
                <div class="range-slider">
                    <span class="rangeValues">Selected Price Range :
                        ₹{{minPriceFilter>maxPriceFilter?maxPriceFilter:minPriceFilter}} -
                        ₹{{maxPriceFilter>minPriceFilter?maxPriceFilter:minPriceFilter}}</span>
                    <input value="0" min="0" max={{maxPrice}} step="10" type="range" [(ngModel)]="minPriceFilter"
                        (change)="addPriceFilter()">
                    <input [value]=maxPrice min="0" max={{maxPrice}} step="10" type="range" (change)="addPriceFilter()"
                        [(ngModel)]="maxPriceFilter">
                </div>
            </section>
            <section>
                <h4 class="sub-section-title">Type</h4>
                <div class="d-flex" *ngFor="let type of typeFilter" style="padding:5px 0">
                    <input class="checkbox-input me-3" type="checkbox" name={{type}} value={{type}}
                        (change)="addFilters($event,'type',type)" />
                    <div class="d-flex">
                        <label>{{type}}</label>
                    </div>
                </div>
            </section>

            <button class="btn btn-md bg-white float-end mb-2" (click)="clearFilters()"
                style="color:#033021!important">Clear All Filters</button>
            <button class="btn btn-md float-end me-2" (click)="applyFilter()">Apply Filter</button>

        </div>
        <div class="col-12 col-sm-9">
            <p *ngIf="productsList.length==0" class="fw-bold" style="font-size: 16px;">Oops! No result found...</p>
            <div *ngIf="productsList.length>0" class="row gy-4">
                <div *ngFor="let product of productsList" class="col-12 col-sm-6 col-md-4">
                    <div class="card">
                        <img src={{product.imageURL}} class="card-img-top" alt="...">
                        <div class="card-body">
                            <div class="card-title d-flex justify-content-between">
                                <h5 class="card-text">{{product.name}}</h5>
                                <p class="card-text">{{product.currency==='INR'?'₹':product.currency}} {{product.price}}
                                </p>
                            </div>
                            <button *ngIf="product.cartQuantity==0" class="btn btn-md float-end"
                                (click)="updateCart(product,'ADD')">Add to Cart</button>
                            <div *ngIf="product.cartQuantity>0" class="addToCart">
                                <button class="btn btn-md add" (click)="updateCart(product,'ADD')">+</button>
                                <label class="bg-white">{{product.cartQuantity}}</label>
                                <button class="btn btn-md remove" (click)="updateCart(product,'REMOVE')">-</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>